{
  "env": {
    "test": {
      "plugins": [
        [
          "istanbul",
          {
            "exclude": [
              "**/*.test.js",
              "__tests__/**.js"
            ]
          }
        ],
        "rewire"
      ]
      , "presets": [
        ["env", {
          "modules": 'commonjs',
          "targets": {
              "node": 4,
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
        }]
      ]
    },
    "production": {
      "plugins": [
        "lodash"
      ]
      , "presets": [
        ["env", {
          "modules": false,
          "targets": {
              "node": 4,
              "browsers": [
                "last 2 versions",
                "chrome >= 55",
                "IE >= 11"
              ]
            }
        }]
        , "minify"
      ]
    },
  }
}
